.faq {
    padding: 40px;
    max-width: 700px;
    margin: auto;

    .faq-item {
        margin-bottom: 40px;
        h3 {
            padding-bottom: 20px;
            border-bottom: 1px solid #eee;
        }
    }
}