.speaker-block {
    text-align: center;
    .speaker-picture {
        width: 200px;
        height: 200px;
        border-radius: 200px;
        background-color: #aaa;
        margin: 20px auto;
        overflow: hidden;
    }
    .speaker-name {
        font-size: 1.2em;
        font-weight: 500;
    }

    .speaker-title {
        font-size: 0.8em;
        margin-top: 15px;
        opacity: 0.8;
    }
}

.breakout-section {
    background-color: #222;
    color: #fff;
}

.speaker-section {
    padding: 40px 0;
    padding-bottom:80px
}