.speaker-block {
    text-align: center;

    .speaker-picture {
        width: 200px;
        height: 200px;
        border-radius: 300px;
        margin: 20px auto;
        overflow: hidden;
        img {
            max-width:100%;
        }
        @include transition(all, .1s, ease-in-out);

        &:hover {
            opacity: 0.9;
        }
    }
    .speaker-name {
        font-size: 1.2em;
        font-weight: 500;
    }

    .speaker-title {
        font-size: 0.8em;
        margin-top: 15px;
        opacity: 0.8;
    }
}

.breakout-section {
    background-color: #222;
    color: #fff;
}

.speaker-section {
    padding: 40px 0;
    padding-bottom:80px
}

.bio-modal {
    padding: 50px;
    padding-top: 20px;

    .bio-header {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #aaa;
        .bio-img {
            width: 50px;
            height: 50px;
            margin: auto;
            border-radius: 100px;
            overflow: hidden;

            img {
                max-width:100%;
                height: auto;
                width: auto;
            }
        }
        .bio-heading {
            margin-top: 20px;
            b {
                margin-right: 10px;
            }
        }
    }

    .bio-body {
        font-size: 0.9em;
        line-height: 1.8em;
    }
}

.modal-backdrop {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-content {
    border-radius: 3px;
}