div.speaker-block
    div.speaker-picture
        img(src="img/speakers/#{speaker.name.split(' ')[0]}.jpg", alt="")
    div.speaker-info
        div.speaker-name #{speaker.name}
        div.speaker-title #{speaker.title}
