div.footer-section(data-scroll-index="4" class="full-section")
    div.footer-bg

    div.footer-title(class="wow fadeIn")
        span Excited yet?
    div.footer-input
        form(id="submitEmail")
            input(id="emailInput" type="text" placeholder="Enter your email to get notified"
                class="form-control input-lg")
    div.footer-info Registration opens end of March (very soon).