html
    head
        include head/head
        title CUTC 15
    body
        include welcome
        include sponsors/section
        include speakers/section
        include ambassadors
        include blog