html
    head
        include head/head
        title CUTC 15
    body(ng-app="cutc-home")
        div.row
            div.side-menu(class="col-sm-1")
                include misc/menu

            div.main-content(class="col-sm-11")
                include misc/welcome
                include info/section
                include speakers/section
                include sponsors/section
                include misc/footer
