div.menu-content
    a.menu-item(href="http://evolve.cutc.ca")
        span.ion-ios-home-outline(class="icon")
        | home
    a.menu-item(data-scroll-nav="0")
        | Welcome
    a.menu-item(data-scroll-nav="1")
        | Speakers
    a.menu-item(data-scroll-nav="2")
        | Sponsors
    a.menu-item(data-scroll-nav="3")
        | Ready?
    a.menu-item(href="http://blog15.cutc.ca")
        span.ion-pound(class="icon")
        | blog