div.menu-content
    a.menu-item(href="http://evolve.cutc.ca")
        span.ion-ios-home-outline(class="icon")
        | home
    a.menu-item(href="http://blog15.cutc.ca")
        span.ion-pound(class="icon")
        | blog