div.info-blurb(class="wow fadeInUp row")
    h1(class="col-sm-6") Conference + Hackathon + Workshops

    span.info(class="col-sm-6")
        span The Canadian Undergraduate Conference of Technology is
        br
        b Canada's largest and longest-running student-organized conference