div.footer-section(data-scroll-index="5" class="full-section")
    div.footer-bg

    div.footer-title(class="wow fadeIn")
        span Excited yet?
    div.tickets-button
        a.btn(href="http://stg.cutc.ca") Tickets now  
            b on sale
    div.footer-info Early bird tickets $100 | Regular tickets $125.