div.footer-section(data-scroll-index="5" class="full-section" id="footer")
    div.footer-bg

    div.footer-title(class="wow fadeIn")
        span Tickets now on sale.
    div.tickets-button
        a.btn(href="http://stg.cutc.ca") Get your early bird ticket  
            b now
    div.footer-info Early bird tickets $100 | Regular tickets $125.