div.menu-content
    a.menu-item(data-scroll-nav="0")
        span.ion-ios-home-outline(class="icon")
        | home
    a.menu-item(data-scroll-nav="1")
        | Welcome
    a.menu-item(data-scroll-nav="2")
        | Speakers
    a.menu-item(data-scroll-nav="3")
        | Schedule
    a.menu-item(data-scroll-nav="4")
        | FAQ
    a.menu-item(data-scroll-nav="5")
        | Sponsors
    a.menu-item(data-scroll-nav="6")
        | Ready?
    a.menu-item(data-scroll-nav="7")
        | Subsidies