div.subs(data-scroll-index="6")
    div.subs-content
        h1 University Subsidies

        div.subs-row University of Waterloo - Software Engineering
            div.subs-desc $40 off for first 10 students
        div.subs-row University of Waterloo - ECE
            div.subs-desc $100 off for the first 25 students
        div.subs-row University of Toronto - ECE
            div.subs-desc $25 off for the first 40 delegates
        div.subs-row McMaster University - ECE
            div.subs-desc Contact VP Finance of ECE society

    div.subs-process
        h3 How to get reimbursed
        div.subs-step Register and purchase your CUTC 2015 ticket
        div.subs-step Upon registration, enter your student # and university
        div.subs-step At the end of the conference, your student # to the respective faculties of each university for verification
        div.subs-step You will issued a refunded equal to the value of your subsidy once you are a verified student who checked into the conference
