link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", href="bower_components/ionicons/css/ionicons.min.css")
link(rel="stylesheet", href="bower_components/animate.css/animate.css")
script(src="bower_components/wowjs/dist/wow.min.js")